@media only screen and (max-width: 600px){
  .divider li{
  background-color: #FBB7A1;
  color: #2A303F;
  margin-top: 5%;
  max-width: 65%;
  padding-top: 5%;
  height: 90px;
  font-size: 10px;
  display: flex;
  overflow: auto;

  }



  .heading{

    padding-top: 5%;
    display: block;
    font-size: 12px;


  }




   img {
      display: none
    }


}
